
body {
  font-family: 'Baloo Thambi 2', cursive;
  background-color:#866570;
}

h1 {
  font-family: 'Rubik Mono One';
  font-size: large;
  margin: 70px;
}

.intro {
  margin: 100px;
}

#results {
  display: none;
} 